<p>
    <%= image_tag(@image.url, :border => 0) %>
</p>

<% @image.get_context.each do |img| %>
	<%= image_tag(img.url, :border => 0) %>
<% end %>

<ul>
<%= render @image.candidates.order("candidates.votesum DESC") %>
</ul>


<br />	
<div>
	<%= form_for [@image, @image.candidates.new] do |f|%>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_field :content %>
	</div>
	<div class="actions">
		<%= f.submit "Add New Candidate"%>
	</div>	
	<%end%>
	</ br>
	<%= link_to 'Reset',  image_reset_path(@image), method: :post %>
</div>

<br />	
<% if current_user.name === "admin" %>
	<%= link_to 'Edit', edit_image_path(@image) %> |
<%end%>
<%= link_to 'Back', images_path %> |

<%= link_to_unless @prev.blank?, 'Prev', @prev %> |
<%= link_to_unless @next.blank?, 'Next', @next %>
