<div class="row">
  <div class="col-xs-12 col-md-6 show">
    <div id="context-tabContent" class="tab-content">
      <div class="tab-pane fade in active center" id="pic">
        <%= image_tag(@image.url, :border => 0, :class => 'img-responsive img-thumbnail', :width => 500) %>
      </div>
      <div class="tab-pane fade row" id="context">
        <% for i in 0...3 %>
            <div class="col-xs-4 col-md-2<%= i==0 ? ' col-md-offset-3' : '' %>">
              <ul class="list-unstyled">
                <% for j in 0...5 %>
                    <li class="pic_h center"><%= image_tag 'img'+j.to_s+'.jpg', :class => i==1&&j==3 ? ' current' : '' %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
      &nbsp;
    </div>
    <ul id="context-tab" class="list-unstyled list-inline">
      <li class="active">
        <a href="#pic" data-toggle="tab">显示单字</a>
      </li>
      <li>
        <a href="#context" data-toggle="tab">显示上下文</a>
      </li>
      &nbsp;
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
      <div class="row" id="opt-list">
        <%= render @image.candidates %>
      </div>
      <div class="not-opt">
        <%= form_for [@image, @image.candidates.new] do |f| %>
            <%= f.text_field :content,:size=>9,:placeholder=>'其他',:class=>'input-lg',
                             :id=>'other',:onclick=>'input()' %>
            <%= link_to "提交", "javascript:void(0)", method: :put, :id => 'submit', :class => 'btn btn-lg btn-default' %>
            <input type="button" value="跳过" class="btn btn-lg btn-default"
                   onclick="window.location='<%=image_url rand(Image.count)+1%>'">
			<%= link_to 'Reset',  image_reset_path(@image), method: :post %>
        <% end %>
      </div>
      <p class="help-block">点击你认为正确的字或输入其他字</p>
  </div>
</div>
<hr>


<br />	
<% if current_user.name === "admin" %>
	<%= link_to 'Edit', edit_image_path(@image) %> |
<%end%>

<%= link_to 'Back', images_path %> |

<%= link_to_unless @prev.blank?, 'Prev', @prev %> |
<%= link_to_unless @next.blank?, 'Next', @next %>

<script>
  $(document).ready(function () {
    $("#opt-list .opt div").click(function () {
      if ($(this).hasClass("selected")) {
        $("#opt-list .opt div").removeClass("selected");
        $("#submit").attr("href","javascript:void(0)")
      } else {
        $("#opt-list .opt div").removeClass("selected");
        $(this).addClass("selected");
        $("#other").val('');
        $("#submit").attr("href", "<%=image_candidates_url @image.id%>/" + $(this).attr("candidate-id"))
      }
    });
    $("#submit").click(function () {
      if($("#other").val()){
        $("form").submit()
      }
    });
  });
  function input() {
    $("#opt-list .opt div").removeClass("selected");
    $("#submit").attr("href","javascript:void(0)")
  }
</script>