<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<div class="candidates">
	<%=render @image.candidates %>
</div>

<br />	
<div>
	<%= form_for [@image, @image.candidates.new] do |f|%>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_field :content %>
	</div>
	<div class="actions">
		<%= f.submit "Add New Candidate"%>
	</div>		
	<%end%>
</div>
<br />	
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %> |
<%= link_to 'Next', images_path %>
