<p>
    <%= image_tag(@image.url, :border => 0) %>
</p>


<ul>
<%= render @image.candidates %>
</ul>


<br />	
<div>
	<%= form_for [@image, @image.candidates.new] do |f|%>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_field :content %>
	</div>
	<div class="actions">
		<%= f.submit "Add New Candidate"%>
	</div>	
	<%end%>
</div>

<br />	
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %> |

<%= link_to_unless @prev.blank?, 'Prev', @prev %> |
<%= link_to_unless @next.blank?, 'Next', @next %>
