<!DOCTYPE html>
<html>
<head>
  <title>Fj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%flash.each do |key,val|%>
	<p id= "<%= key %>"><%= val %></p>
<%end%>

<%= yield %>

</body>
</html>
