<!DOCTYPE html>
<html>
<head>
  <title>FoJing Revision</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if params[:controller] == 'sessions' %>
      <%= stylesheet_link_tag stylesheet_path 'sessions/login' %>
  <% end %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container <%= params[:controller]=='sessions' ? '' : 'border' %>">
  <div class="user">
    <% if logged_in? %>
        <p>
          <%= image_tag 'user.gif', :width => 20 %> <%= current_user.name %>
          | <%= link_to "Logout", logout_path, method: :delete %>
        </p>
    <% end %>
    <div class="note">

      <% flash.each do |key, val| %>
          <p id="<%= key %>"><%= val %></p>
      <% end %>

    </div>

  </div>
  <div>
    <%= yield %>
  </div>
  &nbsp;
</div>
</body>
</html>
